
<%- include('includes/head.ejs') %>

<!-- Header Section -->
<div class="row justify-content-center">
    <div class="col-12 text-center">
        <h1 class="fs-1">Please Sign in</h1>
        <p class="<%= isSuccess ? 'text-success' : 'text-danger' %>"><%= msg %></p>
    </div>
</div>

<!-- Sign In Form -->
<div class="row justify-content-center mt-4">
    <div class="col-md-6 col-lg-4">
        <form id="loginForm" method="post" action="/chatroom" class="card shadow-sm p-4" novalidate>
            <div class="mb-3">
                <label for="emailAddress" class="form-label">Email Address</label>
                <input type="email" id="emailAddress" name="emailAddress" class="form-control" placeholder="Enter your email">
                <div class="invalid-feedback"></div> <!-- Error message placeholder -->
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password">
                <div class="invalid-feedback"></div> <!-- Error message placeholder -->
            </div>
            <button type="submit" class="btn btn-info w-100 text-white">Sign in</button>
        </form>
    </div>
</div>

<!-- Register Section -->
<div class="row justify-content-center mt-3">
    <div class="col-12 text-center">
        <p class="mb-1">need to
            <a href="/register" class="text-decoration-none text-primary">register?</a>
        </p>
    </div>
</div>
</div>

<script type="module" src="/javascripts/login.js"></script>

<%- include('includes/end.ejs') %>

