.logo-img {
  width: 150px;  /* Set the width of the image */
  height: 150px;  /* Keep the aspect ratio intact */
}

/* Only the essential custom styles that can't be handled by Bootstrap */
.message-wrapper .card-body {
  padding-bottom: 40px;  /* Space for buttons */
}


.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1); /* More transparent background */
  z-index: 1050;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-container img {
  width: 50px; /* Smaller spinner */
  height: 50px; /* Smaller spinner */
  transition: opacity 0.3s ease; /* Smooth transition effect */

}
